%h1= @query
%span= "#{@result.count} résultat#{@result.count > 1 ? "s" : ""}"
- @result.each do |r|
  %div
    %h2= r['label']
    %h3= r['xpath']
    - @query.split.each do |w|
      - r['value'].gsub!(/([^a-zàéçèêâ])(#{w}[\wéèàçêâ]*)/i, '\1<b>\2</b>')
    %p= r['value']
